<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('head.ejs') %>
    <link href="/css/task.css" rel="stylesheet">
    <script src="/js/calender.js"></script>
    
</head>

<body>
  <%- include('header.ejs') %>
    <aside id="sidebar">
      <div id="search-bar">
        <input type="text" placeholder="タスク検索...">
      </div>
      <ul>
        <li><a class="add-task-btn" href="/newTask">新しいタスク</a></li>
        <!-- ここに必要な要素を追加 -->
      </ul>
    </aside>
    <main>

      <div class="container-pane">
        <!-- <div id="calendar"></div> -->
        <div class="task-list">
          <p class="task-title">タスクリスト</p>
          <!-- 並び替えプルダウン -->
          <div class="label-select-container" id="1">
            <label for="sort">並び替え:
              <select class="sort">
                <option value="priority">自動優先度</option>
                <option value="importance">重要度</option>
                <option value="lightness">軽さ</option>
                <option value="deadline">締切</option>
              </select>
            </label>
          </div>

          <% tasks.forEach(task=> { %>
            <div class="task-item" id="edit-task">
              <p>
                <%= task.name %>
              </p>
              <!-- その他のタスク情報をここに表示 -->
            </div>
            <% }); %>

        </div>

        <div class="task-list">
          <p class="task-title">タスクリスト</p>
          <!-- 並び替えプルダウン -->
          <div class="label-select-container" id="2">
            <label for="sort">並び替え:
              <select class="sort">
                <option value="priority">自動優先度</option>
                <option value="importance">重要度</option>
                <option value="lightness">軽さ</option>
                <option value="deadline">締切</option>
              </select>
            </label>
          </div>

          <% tasks.forEach(task=> { %>
            <div class="task-item" id="edit-task">
              <p>
                <%= task.name %>
              </p>
              <!-- その他のタスク情報をここに表示 -->
            </div>
            <% }); %>

        </div>
        <div class="task-list">
          <p class="task-title">タスクリスト</p>
          <!-- 並び替えプルダウン -->
          <div class="label-select-container" id="3">
            <label for="sort">並び替え:
              <select class="sort">
                <option value="priority">自動優先度</option>
                <option value="importance">重要度</option>
                <option value="lightness">軽さ</option>
                <option value="deadline">締切</option>
              </select>
            </label>
          </div>

          <% tasks.forEach(task=> { %>
            <div class="task-item" id="edit-task">
              <p>
                <%= task.name %>
              </p>
              <!-- その他のタスク情報をここに表示 -->
            </div>
            <% }); %>

        </div>
        <div class="task-list">
          <p class="task-title">タスクリスト</p>
          <!-- 並び替えプルダウン -->
          <div class="label-select-container" id="4">
            <label for="sort">並び替え:
              <select class="sort">
                <option value="priority">自動優先度</option>
                <option value="importance">重要度</option>
                <option value="lightness">軽さ</option>
                <option value="deadline">締切</option>
              </select>
            </label>
          </div>

          <% tasks.forEach(task=> { %>
            <div class="task-item" id="edit-task">
              <p>
                <%= task.name %>
              </p>
              <!-- その他のタスク情報をここに表示 -->
            </div>
            <% }); %>

        </div>
        <div class="task-list">
          <p class="task-title">タスクリスト</p>
          <!-- 並び替えプルダウン -->
          <div class="label-select-container" id="1">
            <label for="sort">並び替え:
              <select class="sort">
                <option value="priority">自動優先度</option>
                <option value="importance">重要度</option>
                <option value="lightness">軽さ</option>
                <option value="deadline">締切</option>
              </select>
            </label>
          </div>

          <% tasks.forEach(task=> { %>
            <div class="task-item" id="edit-task">
              <p>
                <%= task.name %>
              </p>
              <!-- その他のタスク情報をここに表示 -->
            </div>
            <% }); %>

        </div>

      </div>
    </main>

</body>
<script src="/js/show-tasks.js"></script>
<%- include('common-scripts.ejs') %>
</html>