<% function getSubjectDetail(subject) {
    if (subject) {
        return `${subject.subject_name}
            <span class="detail">${subject.subject_type} ${subject.credit}単位 ${subject.subject_location}
                欠課:${subject.absences} 遅刻:${subject.tardies}</span>`;
    }
    return "";
} %>

<!DOCTYPE html>

<html lang="ja">
<head>
    <%- include('head.ejs') %>
    <link href="/css/top.css" rel="stylesheet">
</head>
<body>
    <%- include('header.ejs') %>
    <%- include('sidebar.ejs') %>
    <main>
        <table>
            <tr>
              <th style="width:5%;">時間</th>
              <th>月</th>
              <th>火</th>
              <th>水</th>
              <th>木</th>
              <th>金</th>
            </tr>
            <% for (let i = 0; i < 4; i++) { %>
            <tr>
              <td ><%= i+1 %></td>
              <td><%- getSubjectDetail(monSubjects[i]) %></td>
              <td><%- getSubjectDetail(tueSubjects[i]) %></td>
              <td><%- getSubjectDetail(wedSubjects[i]) %></td>
              <td><%- getSubjectDetail(thuSubjects[i]) %></td>
              <td><%- getSubjectDetail(friSubjects[i]) %></td>
            </tr>
            <% } %>
        </table>
    </main>
    <%- include('footer.ejs') %>
</body>
</html>
