<% function getSubjectDetail(subject) {
  if (subject) {
      return `${subject.subject_name}
          <span class="detail">${subject.subject_type} ${subject.credit}単位
              <button class='btn increase-absences' data-subject-id="${subject.subject_id}">欠課:${subject.absences} </button> <button class='btn increase-tardies' data-subject-id="${subject.subject_id}">遅刻:${subject.tardies} </button></span>
              <button class='edit-subject-btn btn'><i class="fa-solid fa-pen-to-square"></i></button>`;
  }
  return `<button class='btn add-class'><i class="fa-solid fa-plus"></i></button>`;
} %>

<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('head.ejs') %>
    <link href="/css/top.css" rel="stylesheet">
</head>
<body>
    <%- include('header.ejs') %>
    <aside id="sidebar">
      <div id="search-bar">
        <input type="text" placeholder="科目検索...">
      </div>
      <ul>
        <li><a class="add-subject-btn">新しい科目</a></li>
        <!-- ここに必要な要素を追加 -->
      </ul>
    </aside>
    <main>
      <table>
          <tr>
            <th>時間</th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
          </tr>
          <% for (let i = 0; i < 4; i++) { %>
          <tr>
            <td ><%= i+1 %></td>
            <td data-day="mon" data-time="<%= i+1 %>" class="subject"><%- getSubjectDetail(monSubjects[i]) %></td>
            <td data-day="tue" data-time="<%= i+1 %>" class="subject"><%- getSubjectDetail(tueSubjects[i]) %></td>
            <td data-day="wed" data-time="<%= i+1 %>" class="subject"><%- getSubjectDetail(wedSubjects[i]) %></td>
            <td data-day="thu" data-time="<%= i+1 %>" class="subject"><%- getSubjectDetail(thuSubjects[i]) %></td>
            <td data-day="fri" data-time="<%= i+1 %>" class="subject"><%- getSubjectDetail(friSubjects[i]) %></td>
          </tr>
          <% } %>
      </table>
    </main>
  
    
    
</body>
<%- include('common-scripts.ejs') %>
<script src="/js/add-class.js"></script>
<script src="/js/increase-absences.js"></script>
</html>
